<% provide(:title, "Hotel · #{@hotel.title}") %>
<h1><%= @hotel.title %></h1>

<div class="content">
  <div class="photo">
    <%= image_tag "/uploads/#{@hotel.picture}", alt: @hotel.title %>  
  </div>
  <div class="hotel">
    <ul>
      <li>Hotel rating: <strong><%= pluralize(@hotel.rating, "Star") %></strong></li>
      <li>Hotel address: <strong><%= @hotel.full_address %></strong></li>
      <li>Breakfast included: <strong><%= boolean_human(@hotel.breakfast) %></strong></li>
      <li>Price: <strong><%= number_to_currency(@hotel.price) %></strong></li>
      <li>
        Room description:
        <p><%= @hotel.room_description %></p>
      </li>
      <li>Added by <%= link_to @hotel.user.name, user_path(@hotel.user) %></li>
    </ul>
  </div>
</div>

<section>
  <%= render 'comments/form' %>
  <%= render 'comments/comment' %>
</section>
