<h1><%= @hotel.title %></h1>
<ul>
  <li>Hotel rating: <strong><%= pluralize(@hotel.rating_calc, "Star") %></strong></li>
  <li>Hotel address: <strong><%= @hotel.full_address %></strong></li>
  <li>Breakfast included: <strong><%= boolean_human(@hotel.breakfast) %></strong></li>
  <li>Price: <strong><%= number_to_currency(@hotel.price) %></strong></li>
  <li>
    Room description:
    <p><%= @hotel.room_description %></p>
  </li>
  <li>Added by <%= link_to @hotel.user.name, user_path(@hotel.user) %></li>
</ul>

<%= render 'comments/form' %>

<%= render 'comments/comment' %>
